@{
    ViewBag.Title = "Add Menu";
}

<h2>Add Menu</h2>
<div id="addmenu">
    <form>
        <div class="form-group">
            <label>Dish Name</label>
            <input type="text" class="form-control" placeholder="Dish Name" data-bind="value: dishname">
        </div>
        <div class="form-group">
            <label>Dish Category</label>
            <select>
                <option value="Home Food">Home Food</option>
                <option value="Sweets,Cakes,Cookies,Pickles">Sweets,Cakes,Cookies</option>
                <option value="Party Order">Party Order</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="form-group">
            <label>Select Cuisine</label>
            <select>
                <option value="Africian">African Cusine</option>
                <option value="Chinese">Chinese</option>
                <option value="French">French</option>
                <option value="Mexican">Mexican</option>
                <option value="Italian">Italian</option>
                <option value="Indian">Indian</option>
                <option value="Others">Others</option>

            </select>
        </div>
    </form>

</div>