

<h2>Chef Home Page</h2>
<div id="chefhome">
    <div class="panel panel-default ">
        <div class="panel-heading  panel-info">My Details </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Home Chef Name :</label>
                <span data-bind="text: fullName"> </span>
            </div>

            <div class="form-group">
                <label>Address: </label>
                <span data-bind="text: streetName"> </span>

                <span></span>
                <span data-bind="text: suburb"> </span>
                <span data-bind="text: city"> </span>
                <span data-bind="text: province"> </span>
                <span data-bind="text: country"> </span>
            </div>
            <div class="form-group">
                <label>About the chef:</label>
                <span data-bind="text: description"> </span>
            </div>
            <button class="btn btn-primary btn-lg" data-bind="click: submit" class="btn btn-default">Add New Menu</button>
        </div>
    </div>


    <h3>My Menu</h3>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <td>Dish Name</td>
            <td> Dish Category</td>
            <td> Price per portion in Rand</td>
            <td> Take Away</td>
            <td> Dine in with Chef</td>
            <td> Home Delivery</td>
            <td> Availability Type</td>
            <td> Order Before(In Hours)</td>
            <td> Status</td>
        </tr>
        </thead>
        <tbody data-bind ="foreach: menus">
        <tr >
           
            <td data-bind="text:Dishname"></td>
            <td data-bind="text:Dishcategory"></td>
            <td data-bind="text:Pricepp"></td>
            <td data-bind="text:Takeaway"></td>
            <td data-bind="text:Dineinwithchef"></td>
            <td data-bind="text:Homedelivery"></td>
            <td data-bind="text:Availabilitytype"></td>
            <td data-bind="text:Leadtime"></td>
            <td data-bind="text:Status"></td>
            <td> </td>
        </tr>
        </tbody>

    </table>  
</div>
@section scripts
{
    <script>

        var model = @Html.Raw(Json.Encode(Model));
        var chefViewModel = function() {
            var self = this;
            self.fullName = ko.observable(model.Chef.Fullname);

            self.streetName = ko.observable(model.Chef.Streetname);
            self.suburb = ko.observable(model.Chef.Suburb);
            self.city = ko.observable(model.Chef.City);
            self.province = ko.observable(model.Chef.Province);
            self.country = ko.observable(model.Chef.Country);
            self.description = ko.observable(model.Chef.Description);
            self.menus = model.Menus;

            self.submit = function() {

                changeLocation("Menu/Add", true);
            }

        }
        ko.applyBindings(new chefViewModel(), document.getElementById("chefhome"));

        
    </script>
}

