<h2>Customer Home Page</h2>
<div id="customerhome">
    <div class="col-md-12">
        <div id="buttongroup" class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" id="updatemydetails" data-bind="click:updatesubmit" class="btn btn-default">Update My Details</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>

        <div class="panel panel-primary ">
            <div class="panel-heading  panel-info">
                My Details
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 col-md-3">
                        <div class="thumbnail">
                            <img src="http://localhost:52990/Content/Images/Menus/home munch 4.jpg" alt="Image">
                            <div class="caption">
                                <div class="form-group">
                                    <label> WELCOME </label>

                                    <span data-bind="text: fullName"> </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div id="buttongroup" class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" id="viewallchef" data-bind="click:viewallchef" class="btn btn-default">View All Chef</button>
            <button type="button" id="viewallmenu" data-toggle="collapse" data-target="#menu" data-bind="click:viewallmenu" class="btn btn-default">View All Menu</button>

        </div>


    </div>
   
    <div class="col-md-12" >
        <div class="col-md-10" style="background-color: lightblue">
            <div id="menu" class="row,collapse in" data-bind="foreach: menus">
                <div class="col-sm-3 col-md-3" style="position: relative">
                    <div class="thumbnail text-center">
                        <div class="caption">
                            <p>
                                <label> From: </label>
                                <span data-bind="text: chefName"> </span>
                            </p>
                            <span style="position: absolute; top: 80px" class="label label-pill label-success"><span data-bind="text: dishName"></span></span>

                            <img src="http://localhost:52990/Content/Images/Menus/21.jpg" style="width: 100%;" alt="Image">

                            <div style="height: 50px; width: 100%;margin-top: 3px;">
                                <label> Price : </label>
                                <span data-bind="text: pricePerPortion+' '+currency"> </span>
                            </div>
                            <div style="height: 50px; width: 100%; margin-top: 3px;">
                                <label> Available : </label>

                                <span data-bind="text: availabilityType"> </span>
                            </div>

                            <p>
                                
                            </p>
                            @*<p><a href="#" class="btn btn-primary" role="button" data-bind=" click: viewDetails">View Details</a>*@

                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-bind=" click: $parent.viewDetails">View Details</button>


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
        



    <div id="sendRequestModal" class="modal fade" role="dialog" >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <div class="modal fade" id="showmodel" role="dialog">
        <div class="modal-dialog" data-bind="with: selectedMenuItem">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="label label-pill label-warning"><span data-bind="text: dishName"></span></span></h4>
                </div>
                <div class="modal-body" for="menu">
                    <p>
                        <div class="col-md-12">
                            <div class="col-md-5" style="background-color: lightsteelblue">
                                <label>Dish Category :</label><span data-bind="text:dishCategory"> </span>
                                <div>
                                    <label>Price : </label><span data-bind="text: pricePerPortion+' '+currency"> </span>
                                </div>
                                <div>
                                    <label>Available : </label><span data-bind="text: availabilityType"> </span>
                                    <div><label>Order Before : </label><span data-bind="text:leadTime+' '+'Hours'"> </span></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <img src="http://localhost:52990/Content/Images/Menus/21.jpg" style="width: 50%;" alt="Image">
                            </div>
                          </div>
                        <div class="col-md-12">
                            <div class="col-md-3" style="background-color: cadetblue">
                                <label> Takeaway: </label><input type="checkbox"  data-bind="checked: takeAway" disabled>
                            </div>
                            
                            <div class="col-md-5" style="background-color: cornflowerblue">
                                 <label> Dine in with the Chef : </label><input type="checkbox" data-bind="checked: dineInWithChef" disabled>
                            </div>
                                <div class="col-md-4"style="background-color: dodgerblue">
                                    <label> Home Delivery: </label><input type="checkbox" data-bind="checked: homeDelivery" disabled>
                            </div>
                            
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a data-toggle="modal" data-target="#sendRequestModal" class="btn btn-success">Send Request</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    </div>
@section scripts
{
    <script>

        var model = @Html.Raw(Json.Encode(Model));
        var customername = model.Customer.Fullname;
        var customerViewModel = function() {
            var self = this;
            self.fullName = ko.observable(model.Customer.Fullname);
            self.menus = ko.utils.arrayMap(model.Menus,
                function(menu) {
                    return new MenuViewModel(menu);
                });
            
            
            self.updatesubmit = function() {
                changeLocation("Customer/UpdateRegistration", true);

            }

            self.selectedMenuItem = ko.observable();
            self.viewDetails = function(data) {
                self.selectedMenuItem(data);

                $('#showmodel').modal('show');
                //alert(modeldishName);
            };

        };
        MenuViewModel = function(menu) {
            var self = this;
            self.id = menu.Id;
            self.dishName = menu.Dishname;
            self.dishCategory = menu.Dishcategory;
            self.pricePerPortion = menu.Pricepp;
            self.currency = menu.Currency;
            self.takeAway = menu.Takeaway;
            self.dineInWithChef = menu.Dineinwithchef;
            self.homeDelivery = menu.Homedelivery;
            self.availabilityType = menu.Availabilitytype;
            self.leadTime = menu.Leadtime;
            self.chefName = menu.Chefname;
            self.status = ko.observable(menu.Status);
           
            var dish = menu.Dishname;
            
        };
       // alert(chefname);
        ko.applyBindings(new customerViewModel(), document.getElementById("customerhome"));


    </script>
}
