<div id="chefmenu">

    <div class="panel panel-primary ">
        <div class="panel-heading  panel-info">

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="http://localhost:52990/Content/Images/Chefs/home munch 4.jpg" alt="Image">
                        <div class="caption">
                            <div class="form-group">
                                <label>Home Chef Name :</label>
                                <span data-bind="text: fullName"> </span>
                            </div>
                            <div class="form-group">
                                <label>Address: </label>
                                <span data-bind="text: streetName"> </span>
                                <span></span>
                                <span data-bind="text: suburb"> </span>
                                <span data-bind="text: city"> </span>
                                <span data-bind="text: province"> </span>
                                <span data-bind="text: country"> </span>
                            </div>
                            <div class="form-group">
                                <label>About the chef:</label>
                                <span data-bind="text: description"> </span>
                            </div>
                            @*<button data-bind="click: submit" class="btn btn-default">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="tab-pane active" id="viewAllMenu">
        <div class="col-md-12">
            <div class="col-md-8" style="background-color: lightblue">
                <div id="menu" class="row,collapse in" data-bind="foreach: menus">
                    <div class="col-sm-3 col-md-3" style="position: relative">
                        <div class="thumbnail text-center">
                            <div class="caption">
                                <p>
                                    <label> From: </label>
                                    <span data-bind="text: chefName"> </span>
                                </p>
                                <span style="position: absolute; top: 80px" class="label label-pill label-success"><span data-bind="text: dishName"></span></span>

                                <img src="http://localhost:52990/Content/Images/Menus/21.jpg" style="width: 100%;" alt="Image">

                                <div style="height: 50px; width: 100%;margin-top: 3px;">
                                    <label> Price : </label>
                                    <span data-bind="text: pricepp+' '+currency"> </span>
                                </div>
                                <div style="height: 50px; width: 100%; margin-top: 3px;">
                                    <label> Available : </label>

                                    <span data-bind="text: availabilityType"> </span>
                                </div>

                                <p>

                                </p>
                                @*<p><a href="#" class="btn btn-primary" role="button" data-bind=" click: viewDetails">View Details</a>*@

                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-bind="click: $parent.viewDetails">View Details</button>
                                <button type="button" id="addToCart" class="btn btn-info btn-lg" data-toggle="modal" data-bind="click: $parent.addToCart,enable :isEnabled">Add to Cart</button>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cart" class="col-md-4" style="background-color:burlywood">

                <div style="background-color:aqua">
                    @* --------------------------------------------------------------*@
                    <h2>Cart</h2>
                    <hr />
                    <div class="row-fluid">
                        <div class="span8">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:30px">Qty.</th>
                                        <th>Menu Item</th>
                                        <th>Unit Price</th>
                                        <th>Subtotal </th>
                                        <th style="width:75px">Actions</th>
                                    </tr>
                                </thead>

                                <tbody data-bind="foreach:SelectedItemToCart">

                                    <!-- This HTML within this <tbody></tbody> block will get rendered for each item in view_model.cart -->

                                    <tr>
                                        <td>

                                            <!-- [CartItem] $data.quantity (Observable) -->
                                            <input id="quantity" style="width:28px" data-bind="value:quantity" />

                                        </td>
                                        <td>

                                            <!-- [CartItem] $data.product().name (Observable) -->
                                            <span data-bind="text:dishName"></span>

                                        </td>
                                        <td style="text-align:right">

                                            <!-- [CartItem] $data.cost (Computed Observable) -->
                                            <span data-bind="text:pricepp+' '+currency"></span>

                                        </td>
                                        <td style="text-align:right">

                                            <!-- [CartItem] Computed Observable) -->
                                            <span id="subtotal" data-bind="text:subTotal"></span>

                                        </td>
                                        <td style="text-align:center">

                                            <!--
                                            - $parent is a special object used to reach above the scope of the foreach loop we're currently in.
                                            - Events binding `click:$parent.removeFromCart` executes an Action Method in the View Model
                                            - Knockout automaticlly passes $data as the first parameter, and the `events` object as the second parameter.
                                            -->
                                            <a href="#" class="btn btn-mini btn-danger" data-bind="click:$parent.removeFromCart">
                                                <i class="icon-remove icon-white"></i> Remove
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @* ------------------------------------------*@
                </div>
                <div id="emptyCart" style="background-color: white">
                    <div class="span4" style="text-align: left">

                    </div>
                    <strong>
                        Your Order Request
                    </strong>
                    <div style="text-align: center">
                        <img src="http://localhost:52990/Content/Images/Cart/empty-cart.png" alt="Image">
                    </div>

                    <div style="text-align: center">Your cart is empty</div>
                    <div style="text-align: center">Add an Item to begin......</div>
                </div> 
                <div style="background-color:gold">
                    <div class="span4">
                        <table class="table table-bordered">
                            <tbody>


                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td style="text-align:right">

                                        <!-- [ViewModel] view_model.cost (Computed Observable) -->
                                        <strong><span data-bind="text:total"></span></strong>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="background-color:white">
                    <div class="span4">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>

                                    <td style="text-align:right">

                                        <button type="button" id="goToNextStep" class="btn btn-info btn-lg" data-toggle="modal" data-bind="click: goToNextStep">Go To Next Step</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modelMenuDetails" role="dialog">
        <div class="modal-dialog" data-bind="with: selectedMenuItem">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="label label-pill label-warning"><span data-bind="text: dishName"></span></span></h4>
                </div>
                <div class="modal-body" for="menu">
                    <p>
                        <div class="col-md-12">
                            <div class="col-md-5" style="background-color: lightsteelblue">
                                <label>Dish Category :</label><span data-bind="text:dishCategory"> </span>
                                <div>
                                    <label>Price : </label><span data-bind="text: pricepp+' '+currency"> </span>
                                </div>
                                <div>
                                    <label>Available : </label><span data-bind="text: availabilityType"> </span>
                                    <div><label>Order Before : </label><span data-bind="text:leadTime+' '+'Hours'"> </span></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <img src="http://localhost:52990/Content/Images/Menus/21.jpg" style="width: 50%;" alt="Image">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3" style="background-color: cadetblue">
                                <label> Takeaway: </label><input type="checkbox" data-bind="checked: takeAway" disabled>
                            </div>

                            <div class="col-md-5" style="background-color: cornflowerblue">
                                <label> Dine in with the Chef : </label><input type="checkbox" data-bind="checked: dineInWithChef" disabled>
                            </div>
                            <div class="col-md-4" style="background-color: dodgerblue">
                                <label> Home Delivery: </label><input type="checkbox" data-bind="checked: homeDelivery" disabled>
                            </div>

                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a data-toggle="modal" data-target="#sendRequestModal" class="btn btn-success">Send Request</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <script>

        var model = @Html.Raw(Json.Encode(Model));
        var chefMenuViewModel = function() {
            var self = this;
            self.fullName = ko.observable(model.Chef.Fullname);
            self.streetName = ko.observable(model.Chef.Streetname);
            self.suburb = ko.observable(model.Chef.Suburb);
            self.city = ko.observable(model.Chef.City);
            self.province = ko.observable(model.Chef.Province);
            self.country = ko.observable(model.Chef.Country);
            self.description = ko.observable(model.Chef.Description);
            self.menus = ko.utils.arrayMap(model.Menus,
                function(menu) {
                    return new MenuViewModel(menu);
                });
            self.selectedMenuItem = ko.observable();
            self.viewDetails = function(data) {
                self.selectedMenuItem(data);
                $('#modelMenuDetails').modal('show');
            }


            self.SelectedItemToCart = ko.observableArray();
            self.SelectedItemToCart.subscribe(function(){
                self.menus.forEach(function(menu){
                    menu.isEnabled(true);
                    self.SelectedItemToCart().forEach(function(cartItem){
                        if (cartItem.menuId === menu.id){
                            menu.isEnabled(false)
                        };
                    });
                })
            });
            self.addToCart = function(data) {
                self.SelectedItemToCart.push(new cartItemViewModel(data));
                    if (self.SelectedItemToCart().length == 0) {
                    document.getElementById("goToNextStep").disabled = true;
                    document.getElementById("emptyCart").style.display = 'block';

                      } else {
                    document.getElementById("goToNextStep").disabled = false;
                    document.getElementById("emptyCart").style.display = 'none';
                }

            }

            self.removeFromCart = function(data) {
                self.SelectedItemToCart.remove(data);
if (self.SelectedItemToCart().length == 0) {
                    document.getElementById("goToNextStep").disabled = true;
                    document.getElementById("emptyCart").style.display = 'block';

                } else {
                    document.getElementById("goToNextStep").disabled = false;
                    document.getElementById("emptyCart").style.display = 'none';
                }

            }

            self.total = ko.computed(function() {
                var total = 0;
                self.SelectedItemToCart()
                    .forEach(function(item) {
                        total += item.subTotal();
                    });

                return total;
            });

            self.goToNextStep = function() {
                sendViewModelToController("Cart/Add",
                    ko.toJSON(new cartViewModel(self)),
                    function() {
                        alert("Done");
                        // changeLocation("", true);


                    });
            }

        };

        var cartItemViewModel = function(item) {
            var self = this;

            self.menuId = item.id;
            self.dishName = item.dishName;
            self.pricepp = item.pricepp;
            self.currency = item.currency;
            self.quantity = ko.observable(1);
            self.subTotal = ko.computed(function() {
                return self.quantity() * self.pricepp;
            });
        };


        MenuViewModel = function(menu) {
            var self = this;
            self.id = menu.Id;
            self.dishName = menu.Dishname;
            self.dishCategory = menu.Dishcategory;
            self.pricepp = menu.Pricepp;
            self.currency = menu.Currency;
            self.takeAway = menu.Takeaway;
            self.dineInWithChef = menu.Dineinwithchef;
            self.homeDelivery = menu.Homedelivery;
            self.availabilityType = menu.Availabilitytype;
            self.leadTime = menu.Leadtime;
            self.chefName = menu.Chefname;
            self.status = ko.observable(menu.Status);
            self.isEnabled = ko.observable(true);

        };

        var cartViewModel = function(viewModel) {
            var self = this;

            self.cartAdd = new cartAddViewModel(model.Chef.Id, viewModel.total);
            self.cartItems = ko.utils.arrayMap(viewModel.SelectedItemToCart(),
                function(item) { return new cartitemAddViewModel(item); });
        };

        var cartAddViewModel = function(Id, total) {
            var self = this;
            self.chefid = Id;
            self.total = total;
        };

        var cartitemAddViewModel = function(cartItem) {
            var self = this;
            self.menu_id = cartItem.menuId;
            self.quantity = cartItem.quantity;
            self.pricepp = cartItem.pricepp;
            self.subTotal = cartItem.subTotal();
        };


        ko.applyBindings(new chefMenuViewModel(), document.getElementById("chefmenu"));
    </script>

}

